/* Style.css */

.content {
	min-width: 320px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
#search_form > div {
	margin-bottom: 0;
}
#search_results {
	list-style: none;
	padding: 0px;
	border: 1px solid rgb(209, 206, 206);
	margin-top: -3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow-y: scroll;
	max-height: 200px;
	display: none;
}
#search_results li {
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	color: rgb(155, 155, 155);	
	cursor: pointer;
}
#search_results li:hover {
	color: rgb(188, 188, 188);	
}
#search_results li:nth-child(odd) {
	background-color: rgb(240, 240, 240);
	color: rgb(79, 92, 97);
}
#search_results li:nth-child(odd):hover {
	background-color: rgb(250, 250, 250);
	color: rgb(89, 102, 107);
}
#ajax_loader {
	position: absolute;
	margin: -27px 0 0 780px;
}
#code_results table {
	border: 1px solid rgb(228, 228, 228);
	margin-top: 15px;
}

/* Menu de gauche avec arborescence de base */
#arbo_base {
	border-right: 2px ridge #E0E0E0;
}
#arbo_base>li {
	border-radius: 4px;
	position: relative;
	display: block;
	padding: 10px 15px;
}
#arbo_base>li.active {
	color: #fff;
	background-color: #428bca;
	cursor: pointer;
}
.link-code:hover {
	color: darkblue;
}
/* END */

/* Div résultat recherche */
.link-code {
	cursor: pointer;
	color: blue;
}

.downATC {
	cursor: pointer;
	color: blue;
}

.downATC {
	color: darkblue;
}
/* END */

.modal-dialog-lg {
	margin: 38px;
}

.modal-body {
	overflow-y: auto;
	max-height: 460px;
}

.navbar-form, .navbar-text{
	margin-left: 5px;
	margin-right: 0px;
}

.alert {
	margin-top: 60px;
}

.alert-info {
	text-align: center;
}

.navbar ul.nav.navbar-right a {
	margin: 8px;
}

.navbar ul.nav.navbar-right p {
	margin-bottom:0px;
}

.check {
	width: 16px;
	height: 16px;
	display: block;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(32, 27, 27);
	border-radius: 4px;
	cursor: pointer;
}
.check.check-checked {
	background: green;
}

tr.nsfp {
	color: red;
}